*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
/* Common styles */
.container{
    max-width: 1440px;
    margin: 0 auto;

}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 45px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.heading{
    color: #272727;
    text-align: center;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 800;
}

.heading-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
}
.highlight-text{
    color: #E55473;
}

/* banner styles */

.banner{
    background: rgba(229, 84, 115, 0.10);
    height: 850px;
}

.banner-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.banner-heading{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 32px;
}

.banner-img>img{
    margin-top: 50px;
}

/* featured styles */
.our-featured-content{
    margin-top: 180px;
}

.flowers{
    display: flex;
    margin-top: 40px;
    gap: 24px;
}

.flower-1, .flower-2, .flower-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);    
    padding: 110px 75px 0;
}
.flower-1>img{
    margin-top: 45px;
}

.flower-2{
    background: rgba(5, 151, 160, 0.15);
}
.flower-2>img{
    width: 320px;
}

.flower-3{
    background: rgba(71, 125, 17, 0.15);
}

.flower-names{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.flower-name{
    display: block;
    width: 100%;
}
.flower-name>p{
    text-decoration: underline;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}


/* hot-deal-section styles */
.hot-deal-section{
    margin-bottom: 130px;
}
.hot-deal-contents{
    display: flex;
    align-items: center;
    gap: 180px;
    justify-content: space-between;
    padding-top: 100px;
}

.hot-deal-details{
    margin-top: 100px;
    text-align: center;
}

.hot-deal-section{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 620px;
}


/* Social Section styles */
.social-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 130px;
}


